.content__input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid $color-light-border;
    width: 100%;
    background-color: $color-white;
    @include border-radius(5px);
    color: $color-dark-text;
    @include font-OpenSansBold(15px);
    font-weight: bold;
    padding: 12px 10px;
    &:hover{
        border: 2px solid $color-brand;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid $color-brand;
    }

    &::placeholder {
        color: $color-input-text;
        @include font-OpenSansBold(15px);
        font-weight: bold;
    }
}