.select-element{              
    select{
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid $color-light-border;
        background-color: $color-white;
        @include border-radius(5px);
        padding: 12px 10px;                
        color: $color-input-text;
        @include font-OpenSansBold(15px);
        font-weight: bold;
        &:hover{
            border: 2px solid $color-brand;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            border: 2px solid $color-brand;
        }
    }
}