.button__blank {
    @extend .button__filled;
    border: 2px solid $color-light-border;
    background-color: $color-white;
    color: $color-light-text;
    @include font-OpenSansBold(14px);
    font-weight: bold;
    &:hover{
        color: $color-brand;
        @include font-OpenSansExtraBold(14px);
    }

    &.delete{
        color: $color-delete;
    }
    &.brand {
        color: $color-brand;
        @include font-OpenSansBold(18px);
        font-weight: bold;
        width: 275px;
    }
    &.active-blank{
        color: $color-brand;
    }
    &.active{
        @extend .button__filled;
    }
}