$xs1:1px;
$xs0:0px;
$xs:320px;
$xs420:420px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1600px;
$xxxl:1920px;
$md-custom:767px;
$lg-custom:890px;

/********************/

//colors
$color-white: #ffffff;
$color-brand:#227f00;

//text
$color-dark-text: #505050;
$color-extradark-text: #000000;
$color-light-text: #969696;

//border
$color-light-border: #e4e4e4;

//buttons
$color-search-icon:#f3f3f3;
$color-button-fiiled:#227f00;

//background
$color-footer-background: #e4e4e4;
$color-footer-darkbackground: #424243;
$color-box-background: #ffffff;
$color-contactbackground:#fafafa ;

//breadcrump
$color-breadcrump:#4a4a4a;
$color-facebook:#306199;
$color-twitter:#27c4f1;
$color-border:#979797;
$color-placeholder:#424243;