$xs1:1px;
$xs0:0px;
$xs:320px;
$xs420:420px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1600px;
$xxxl:1920px;
$md-custom:767px;
$lg-custom:890px;

/********************/
//colors
$color-white: #ffffff;
//text
$color-dark-text: #5e5e5e;
$color-light-text: #969696;

//border
$color-light-border: #e4e4e4;

//buttons
$color-search-icon:#f3f3f3;
$color-button-fiiled:#227f00;

