.content__title{
    margin-bottom: 30px;
    @include font-OpenSansBold(35px);
    color: $color-white;
    &.brand{
        h3 {
            margin-bottom: 15px;
            @include font-OpenSansSemiBold(24px);
            font-weight: bold;
            color: $color-brand;
        }
    }
}