.content__textarea{
    
    textarea{
        padding: 15px;
        @include border-radius(5px);
        height: 120px;
        border: 2px solid  $color-light-border;
        @include font-OpenSansBold(12px);
        color: $color-light-text;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}