.content__checkbox{
    margin-top: 25px;
    padding-left: 27px;
    &__info{
        color:$color-checkbox-text ;
        @include font-OpenSansBold(12px);
        text-decoration: none;
        .bold{
            color: $color-brand;
            @include font-OpenSansBold(12px);
        }
    }
}