.footer{
    position: relative;
    background-color: $color-footer-background;
    width: 100%;
    height: 300px;
        padding-bottom: 0px;
    @include mq(max, $xl){
        height: auto;
        padding-bottom: 90px;
        text-align: center;
    }

    &__col{
       padding-top: 45px;
    }
    &__title{
        margin-bottom: 15px;
        span{
            a{
                text-decoration: none;
                color: $color-dark-text;
                @include font-OpenSansSemiBold(13px);
            }
        }
    }
    &__list{
        list-style: none;
        padding-left: 0px;
        li{
            line-height: 18px;
          a{
              color: $color-dark-text;
              text-decoration: none;
              @include font-OpenSansSemiBold(12px);
          }
            
        }
    }
    &__copyright{
        @include flex;
        @include justify-content(center);
        align-items: center;
        margin-top: 25px;
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        background-color: $color-footer-darkbackground;
        span{
            color: $color-white;
            @include font-OpenSansSemiBold(16px);
        }
    }
}