.footer{
    background-color: $color-footer-background;
    width: 100%;
    height: 290px;
    &__col{
       padding-top: 45px;
    }
    &__title{
        margin-bottom: 15px;
        span{
            a{
                text-decoration: none;
                color: $color-dark-text;
                @include font-IzmirSemiBold(13px);
            }
        }
    }
    &__list{
        list-style: none;
        padding-left: 0px;
        li{
            line-height: 18px;
          a{
              color: $color-dark-text;
              text-decoration: none;
              @include font-IzmirMedium(12px);
          }
            
        }
    }
}