.header__contact {
    @include flex;
    align-items: center;
    
    a {
        text-decoration: none;
        margin-right: 30px;
        img{
            display: none;
        }
        @include mq(max, $md){
            img{
                max-width: 25px;
                display: block;
            }
            span{
                display: none;
            }
            strong{
                display: none;
            }
        }
      
        strong{
            color: $color-dark-text;
            @include font-OpenSansSemiBold(13px);
          
        }
        span{
            color: $color-light-text;
            @include font-OpenSansSemiBold(14px);
            
        }
        
    }
}