.form__filter {
    height: 100%;
    &__select {
        width: 100%;
        height: 45px;
        @include border-radius(5px);
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
    }
    .datetime-element {
        input {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: 0;
            padding: 10px;
            color: #acafc9;
            font-weight: 500;
            &::placeholder {
                color: #acafc9;
            }
        }
    }
    button {
        height: 45px;
        width: 100%;
    }

    .form__item{
        margin-top: 20px;
        @include mq(min, $md){
            margin-top: 0;
        }
    }
}