.content__background{
    padding: 60px;
    position: relative;
    background-image: url(../../../../assets/images/background/green-backgorund.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: auto;
    min-height: calc(100vh - 185px);

}