.tab__container {
    margin: 34px 0px;
    &--title {
        @include flex();
        button {
            max-width: 164px;
            width: 100%;
            margin-right: 20px;
        }
    }
}