.header__navbar{
    @include flex;
    width: 100%;
    position: relative;
    nav{
        width: 100%;
        @include flex;
        @include justify-content(center);
        align-items: center;
        ul{
            display: none;
            li{
                position: relative;
                @include flex;
                @include justify-content(center);
                align-items: center;
 
                a{
                    cursor: pointer;
                    text-decoration: none;
                    color: $color-dark-text;
                    @include font-IzmirSemiBold(16px);
                }
                ul{
                    position: absolute;
                    top: 30px;
                    padding-left: 0px;
                    display: none;
                    background-color: $color-white;
                    li{
                        padding: 10px 10px;
                        border: none;
                    }
                }
                &:hover{
                    ul{
                        display: block;
                    }
                }
            }
            
        }
        #checkbox{
            position: absolute;
            z-index: 99;
            opacity: 0;
        }
        #checkbox:checked ~  ul {
            display: block;           
            list-style: none;
            li{
                padding: 10px 20px;
                ul{
                    display: none;
                }
                &:hover{
                    ul{
                        display: block;
                    }
                }
            }
        }
        @include mq(max, 1300px){
            flex-direction: column;
        }
    }
        @include mq(min, $xl){
            nav{
                width: 100%;
                @include flex;
                @include justify-content(center);
                align-items: center;
                ul{
                    width: 100%;
                    padding-left: 0px;
                    @include flex;
                    list-style: none;
                  margin-bottom: 0px;
                    li{
                        @include flex;
                        @include justify-content(center);
                        align-items: center;
                        width: 100%;
                        position: relative;
                        padding: 10px 20px;
                        border: .5px solid $color-light-border;
                        border-bottom: 0px;
                        border-top: 0px;
                        a{
                            cursor: pointer;
                            text-decoration: none;
                            color: $color-dark-text;
                            @include font-IzmirSemiBold(16px);
                        }
                        ul{
                            position: absolute;
                            top: 30px;
                            padding-left: 0px;
                            display: none;
                            li{
                                padding: 10px 10px;
                                border: none;
                            }
                        }
                        &:hover{
                            ul{
                                display: block;
                            }
                        }
                    }
                    
                }
                #checkbox{
                    display: none;
                }
                label{
                    display: none;
                }
            }

        }
  
}