@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('OpenSans-BoldItalic.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('OpenSans-ExtraBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('OpenSans-ExtraBoldItalic.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('OpenSans-Medium.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('OpenSans-SemiBold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf');
    font-style: normal;
    font-display: swap;
}