.content__box {
    a{
        text-decoration: none;
    }
    &__point {
        position: relative;
        height: 280px;
        width: 100%;
        background-color: $color-box-background;
        @include border-radius(5px);
        position: relative;

        &__img {
            position: relative;
            width: 100%;
            height: 180px;           
            img{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span{
                @include flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                bottom: 20px;
                right: 30px;
                z-index: 9999;
                color: $color-dark-text;
                @include font-IzmirExtraBold(20px);
            }
            &::after{
                content: url(../../../../assets/images/background/yellowpointbg.png);
                position:absolute;
                bottom: -6px;
                right: 0;
            }
            
        }
        &__body{
            @include flex;
            align-items: center;
            padding: 15px;
            &__profile{
                padding-right: 20px;
                img{
                    max-width: 70px !important;
                    @include border-radius(50%);
                }
            }
            &__desc{
                h6{
                    margin-bottom: 0px;
                    @include font-IzmirExtraBold(20px);
                    color: $color-dark-text;
                }
                span{
                    @include font-IzmirExtraBold(14px);
                    color: $color-light-text;
                }
            }
        }


    }
}